# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: RESTEasy MicroProfile Build and Test

on:
  push:
    branches:
      - '**'
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]

jobs:
  build:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest ]

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: 'adopt'
          cache: 'maven'
      # Since we need to pass the Java 8 home we need different runs for Linux and Windows
      - name: Build with Maven Java 11  - ${{ matrix.os }}
        run: |
          echo "::group::Build Logs"
          mvn clean install -U -B -fae
          echo "::endgroup::"
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}-${{ matrix.java }}
          path: '**/surefire-reports/*.txt'

  jvm-tests:
    name: Test with Java ${{ matrix.java }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        java: [ '8', '17' ]

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: AdoptOpenJDK/install-jdk@v1
        with:
          version: 11
      - name: Set up JDK ${{ matrix.java }}
        uses: AdoptOpenJDK/install-jdk@v1
        with:
          version: ${{ matrix.java }}
          targets: JDK_${{ matrix.java }}
      # Since we need to pass the test.java.home we need different runs for Linux and Windows
      - name: Test with Java ${{ matrix.java }}  - Linux
        if: runner.os == 'Linux'
        run: mvn clean install -U -B -fae -Dtest.java.home="$JDK_${{ matrix.java }}"
      - name: Test with Java ${{ matrix.java }} - Windows
        if: runner.os == 'Windows'
        run: mvn clean install -U -B -fae '"-Dtest.java.home=%JDK_${{ matrix.java }}%"'
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}-${{ matrix.java }}
          path: '**/surefire-reports/*.txt'

  format-check:
    name: Check Code Formatting
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: 'temurin'
          cache: 'maven'
      - name: Format Source
        run: "mvn -B formatter:format"
      - name: Check for changes
        run:  |
          [ -z "$(git status --porcelain=v1 2>/dev/null)" ] || (echo -e "::error ::Changes have been found\n$(git status --porcelain)" && exit 1)

