# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: RESTEasy MicroProfile Integration Tests

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/resteasy-build.yml'
      - '**/pom.xml'
      - 'config/**'
      - 'context-propagation/**'
      - 'rest-client/**'
      - 'rest-client-base/**'
      - 'resteasy-microprofile-bom/**'
      - 'resteasy-microprofile-test-bom/**'
      - 'testsuite/**'
      - 'wildfly/**'
  pull_request:
    branches:
      - '**'
    paths:
      - '.github/workflows/resteasy-build.yml'
  schedule:
    - cron: '0 0 * * *' # Every day at 00:00 UTC

# Only run the latest job and cancel previous ones
concurrency:
  group: 'resteasy-${{ github.ref || github.run_id }}'
  cancel-in-progress: true

jobs:
  resteasy-build:
    uses: resteasy/resteasy/.github/workflows/shared-resteasy-build.yml@6.2
    with:
      resteasy-branch: "6.2"
      resteasy-repo: "resteasy/resteasy"

  resteasy-microprofile-build:
    runs-on: ${{ matrix.os }}
    needs: resteasy-build
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: ['11', '17', '21']

    steps:
      - name: Checkout RESTEasy MicroProfile
        uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: resteasy-maven-repository
          path: .
      - name: Extract Maven Repo
        shell: bash
        run: tar -xzf resteasy-maven-repository.tar.gz -C ~
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'
      - name: Build and Test RESTEasy MicroProfile Java ${{ matrix.java }} - ${{ matrix.os }}
        run: |
          mvn clean install -B '-Dversion.org.jboss.resteasy=${{ needs.resteasy-build.outputs.resteasy-version }}'
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}-${{ matrix.java }}
          path: |
            '**/surefire-reports/'
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: failsafe-reports-${{ matrix.os }}-${{ matrix.java }}
          path: |
            '**/failsafe-reports/'
      - name: Upload server logs
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: server-logs-${{ matrix.os }}-${{ matrix.java }}
          path: |
            '**/*.log'

