# This workflow is for a nightly run against WildFly upstream

name: WildFly Test Build

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/wildfly-build.yml'
      - '**/pom.xml'
      - 'config/**'
      - 'context-propagation/**'
      - 'rest-client/**'
      - 'rest-client-base/**'
      - 'resteasy-microprofile-bom/**'
      - 'resteasy-microprofile-test-bom/**'
      - 'testsuite/**'
      - 'wildfly/**'
  pull_request:
    branches:
      - '**'
    paths:
      - '.github/workflows/wildfly-build.yml'
  schedule:
    - cron: '0 0 * * *' # Every day at 00:00 UTC

# Only run the latest job and cancel previous ones
concurrency:
  group: 'wildfly-${{ github.ref || github.run_id }}'
  cancel-in-progress: true

jobs:

  resteasy-build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: ['17', '21']

    steps:
      - uses: actions/checkout@v6
      - uses: wildfly-extras/wildfly-nightly-download@v1
        id: wildfly-nightly
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'
      - name: Build with Maven Java ${{ matrix.java }}
        run: mvn  -B clean install '-Dserver.version=${{ steps.wildfly-nightly.outputs.wildfly-version }}'
      - name: Upload surefire reports
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}-${{ matrix.java }}
          path: |
            '**/surefire-reports/'
      - name: Upload server logs
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: server-logs-${{ matrix.os }}-${{ matrix.java }}
          path: |
            '**/*.log'
